@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,300;1,100&family=Reenie+Beanie&display=swap");
:root {
  --dark: #0a0a0a;
  --semiwhite: #fefefe;
  --overlay1: #0e0e0e;
  --overlay2: #0f0f0f;
  --overlay3: #111111;
}

@media only screen and (max-device-width: 768px) {
  :root {
    font-size: 2.5vw;
  }
}

:root html, :root body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:root .light-mode {
  --semiwhite: #0a0a0a;
  --dark: #fefefe;
  --overlay3: #dddddd;
  --overlay2: #ebebeb;
  --overlay1: #f7f4f4;
}

:root .light-mode .overlay-bg {
  background-color: var(--dark);
}

:root body {
  background-color: var(--dark);
}

:root body .overlay-bg {
  background-color: var(--dark);
  width: 100vw;
  height: 200vh;
  position: absolute;
  z-index: 1;
  -webkit-animation-name: masuk2;
          animation-name: masuk2;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

:root body .overlay {
  background-color: var(--overlay1);
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: 2;
  -webkit-animation-name: masuk;
          animation-name: masuk;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-transform: translateY(-150vh);
          transform: translateY(-150vh);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

:root body .overlay2 {
  background-color: var(--overlay2);
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: 3;
  -webkit-animation-name: masuk;
          animation-name: masuk;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-transform: translateY(-150vh);
          transform: translateY(-150vh);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

:root body .overlay3 {
  background-color: var(--overlay3);
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: 4;
  -webkit-animation-name: masuk;
          animation-name: masuk;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-transform: translateY(-150vh);
          transform: translateY(-150vh);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes masuk {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
  99% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes masuk {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
  99% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes masuk2 {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  99% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes masuk2 {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  99% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes putar {
  from {
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes putar {
  from {
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes putarBalik {
  from {
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes putarBalik {
  from {
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

:root body i {
  color: var(--semiwhite);
}

:root body .theme-toggle {
  position: fixed;
  right: 0.55em;
  bottom: 0.55em;
  font-size: 2.5em;
}

:root body .toggle-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root body .toggledOff {
  -webkit-animation-name: putarBalik;
          animation-name: putarBalik;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

:root body .toggled {
  -webkit-animation-name: putar;
          animation-name: putar;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

:root body .containerr {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Azeret Mono", monospace;
  font-weight: 300;
}

:root body .containerr .main p {
  color: var(--semiwhite);
  text-align: center;
  margin-bottom: 0;
}

:root body .containerr .main .title {
  font-size: 3em;
  letter-spacing: 0.01em;
  margin-bottom: 0.1em;
}

:root body .containerr .main .desc {
  text-align: left;
  font-style: italic;
  letter-spacing: 0.1e m;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

:root body .containerr .selections {
  width: 100%;
  margin-top: 1em;
  white-space: nowrap;
}

:root body .containerr .selections a {
  text-decoration: none;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--semiwhite);
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0 0.3em;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */