@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Pen Script', cursive;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.bege {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgb(0,24,70);
background: linear-gradient(180deg, rgb(0, 7, 70) 0%, rgba(52,62,114,1) 95%);
}

.bege i {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: animate ease-in infinite;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: translate(0,0);
  }
  10%,90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(200px,-150px);
  }
}

#contain_moon{
  position: absolute;
  left: 50vw;
  top: 50%;
  transform: translate(-50%, -50%);
}

#teks{
  position: absolute;
  bottom: 10px;
  left: 15px;
  line-height: 28px;
}

#teks h1{
  color: #e6e6e6d7;
}

#penghalang{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.585);
  width: 100vw;
  height: 100vh;
  color: aliceblue;
}

#penghalang2{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#wait{
  font-size: 2rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}