@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

@media(max-width: 768px) {
    html {
        font-size: 55% !important;
        /* padding: 1em 0 1em 1em; */
    }

    .grid-container {
        grid-template-rows: 85% 15% !important;
        grid-template-columns: 25% 55% 20% !important;
    }

    .navbar a {
        font-size: 86%;
    }

    .navbar {
        text-align: center !important;
        justify-content: space-evenly !important;
    }

    .tulisan {
        padding-top: 2em !important;
        line-height: 1.28em !important;
        font-size: .621em !important;
    }

    .tulisan h1 {
        line-height: 1.1em !important;
    }

    .email::after{
        content: "\a";
        white-space: pre;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --hitam: #505e4a;
    --bg: #F2DCB1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html {
    font-size: 1vw;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    font-family: Roboto Mono;
    background-color: var(--bg);
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'kiri content kanan'
        'footer footer footer';
    /* grid-gap: 10px; */
    /* background-color: #2196F3; */
    /* padding: 1em; */
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 85% 15%;
    height: 100%;
    background-color: var(--bg);
    /* padding-bottom: 10em; */
}

.grid-container>div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    color: var(--hitam);
    font-size: 2.2em;
    height: 100%;
}

.navbar {
    /* border-bottom: var(--hitam) solid .5px; */
    /* background-color: blueviolet; */
    text-align: right;

}

.navbar div {
    display: inline-block;
    font-size: .5em;
    padding: 1em 0 1em 2em;
    transform: translateY(-100%);
    animation: turun 1s ease-out forwards;
    animation-delay: .5s;
}

.garis1 {
    height: 0%;
    width: 1px;
    float: right;
    animation: garis1 1.3s ease-in-out forwards;
    animation-delay: 1s;
}

.garis2 {
    position: absolute;
    height: 1px;
    width: 0%;
    animation: garis2 1.5s ease-in-out forwards;
    animation-delay: 1.3s;
}

.g2cont {
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}

.garis3 {
    height: 1px;
    width: 0%;
    animation: garis3 1s ease-in-out forwards;
    animation-delay: .3s;
}

.garis {
    background-color: var(--hitam);
}

@keyframes garis3 {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@keyframes garis2 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes garis1 {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes turun {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes kiri {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.navbar a {
    text-decoration: none;
    color: var(--hitam);
    font-weight: bolder;
}

.kiri {
    grid-area: kiri;
    /* border-right: var(--hitam) solid .5px; */
    z-index: 1;
    background-color: var(--bg);
}

.content {
    grid-area: content;
    z-index: 0;
}

.kanan {
    grid-area: kanan;
}

.footer {
    grid-area: footer;
    /* border-top: var(--hitam) solid .5px; */
    /* background-color: blueviolet; */
    z-index: 2;
    background-color: var(--bg);
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

.tulisan {
    position: relative;
    text-align: left;
    padding-left: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 4em;
    line-height: 1.5em;
    /* font-weight: bold; */
    /* text-align: justify;
    text-justify: inter-word; */
    animation: kiri 1s ease-in-out forwards;
    transform: translateX(-100%);
    animation-delay: 1.8s;
}

.tulisan h1 {
    font-weight: bolder;
}

.namaku {
    font-size: 1em;
    padding-left: 2rem;
    position: relative;
    top: 9rem;
    line-height: 1.3em;
    transform: translateX(-100%);
    animation: kiri 1s ease-in-out forwards;
    animation-delay: 4.5s;
}

.spare-time {
    font-size: .5em;
}

.tulisan-email {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    animation: kiri 1s ease-in-out forwards;
}

.profile {
    position: absolute;
    z-index: 5;
    transform: translate(-20%, 100%);
    bottom: 10%;
    /* border-radius: 10%; */
    -webkit-filter: drop-shadow(6px 8px 13px rgb(139, 116, 72));
    filter: drop-shadow(6px 8px 13px rgb(139, 116, 72));
    /* margin: 0 -1em 1em 0; */
    width: 18rem;
    animation: gambarNaik 1.5s ease-in-out forwards;
    animation-delay: 2.3s;
}

@keyframes gambarNaik {
    0% {}

    100% {
        transform: translate(-3px, 0);
    }
}

.follow{
    text-align: right;
    padding-top: 1em;
    float: right;
    transform: translateX(-400%);
    animation: follow 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes follow{
    100%{
        transform: translateX(0%);
    }
}

.follow a{
    text-decoration: none;
    padding: .15em;
    font-size: .75em;
}

.email{
    background-color: #5e4a4a;
    color: var(--bg);
}

.spotify{
    background-color: #505e4a;
    color: var(--bg);
}

