@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  font-family: "Montserrat-Medium", sans-serif !important;
  background-color: rgb(37, 37, 37) !important;
}

#container {
  color: rgb(224, 224, 224);
  text-shadow: 0px 2px 5px #7e8d5a;
}

#progress {
  width: 90vw;
  background-color: rgb(87, 87, 87);
  margin: auto;
  /* box-shadow: 0px 1px 8px #969696; */
  border-radius: 3px;
}

#judul {
  font-size: 26px;
  margin: auto;
  text-align: center;
}

#time, #timeLeft {
  font-size: 20px;
  text-align: center;
}

#container {
  font-family: "Montserrat-Medium", sans-serif !important;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#bar {
  width: 0%;
  height: 30px;
  background-color: rgb(51, 89, 145);
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: rgb(224, 224, 224);
  transition: all 1s;
}
