* {
    box-sizing: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

.score-board {
    border: solid 2px black;
    width: 200px;
    background: white;
    text-align: center;
    padding: 20px 25px;
    position: relative;
    border-radius: 10px;
}

.label {
    text-align: center;
    border: solid 1px black;
    background: #c9f0c5;
    padding: 2px 5px;
    position: absolute;
    border-radius: 4px;
    width: 50px;
}

#user1-label {
    top: 50%;
    left: -30px;
    transform: translate(0, -50%);
}

#user2-label {
    top: 50%;
    right: -30px;
    transform: translate(0, -50%);
}

#turn-description {
    text-align: center;
    margin: 8px 10px;
}

.score-buttons {
    position: relative;
}

.btn {
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid 2px black;
    border-radius: 25px;
}

#user1-addpoint {
    left: 0;
}

#user2-addpoint {
    right: 0;
}