@font-face {
  font-family: Montserrat-Medium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  font-family: "Montserrat-Medium", sans-serif !important;
  background-color: rgb(37, 37, 37) !important;
}

#container {
  color: rgb(224, 224, 224);
  text-shadow: 0px 2px 5px #7e8d5a;
}

#progress {
  width: 90vw;
  background-color: rgb(87, 87, 87);
  margin: auto;
  /* box-shadow: 0px 1px 8px #969696; */
  border-radius: 3px;
}

#judul {
  font-size: 26px;
  margin: auto;
  text-align: center;
}

#selanjutnya {
  font-size: 16px;
  text-align: center;
}

#time {
  font-size: 20px;
  text-align: center;
}

#fTime {
  text-align: center;
}

#container {
  font-family: "Montserrat-Medium", sans-serif !important;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#bar {
  width: 0%;
  height: 30px;
  background-color: rgb(51, 89, 145);
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: rgb(224, 224, 224);
  transition: all 1s;
}

#modal-button {
  margin-top: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(37, 37, 37);
  border-style: solid;
  padding: 5px 9px 5px 9px;
  border-radius: 3px;
}

.modal-content {
  color: rgb(224, 224, 224) !important;
  background-color: rgb(37, 37, 37) !important;
}

.m-header {
  padding: 10px 10px 0 10px;
}

.m-body {
  padding: 10px 10px 10px 30px;
  line-height: 25px;
}

.m-footer {
  padding: 0 10px 10px 10px;
}

.close {
  color: white !important;
}

.baten {
  background-color: rgb(37, 37, 37) !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  user-select: none;
}

.m-title {
  margin: 10px;
}

#isiModal {
  border: white;
}
