@font-face {
    font-family: "alexana";
    src: url('/fonts/alexana.eot');
    src: url('/fonts/alexana.eot?#iefix') format('embedded-opentype'),
     	url('/fonts/alexana.woff2') format('woff2'),
     	url('/fonts/alexana.woff') format('woff'),
     	url('/fonts/alexana.ttf') format('truetype'),
     	url('/fonts/alexana.svg#alexanaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BugisA';
    src: url('/fonts/BugisA.eot');
    src: url('/fonts/BugisA.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BugisA.woff2') format('woff2'),
        url('/fonts/BugisA.woff') format('woff'),
        url('/fonts/BugisA.ttf') format('truetype'),
        url('/fonts/BugisA.svg#BugisA') format('svg');
    font-weight: normal;
    font-style: normal;
}
.butt{
    color: #191919;
    border: 3px solid #191919;
    font-family: alexana;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #000;
    -moz-border-radius: 20px;
    line-height: 200%;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 30px;
    background: white;
    text-decoration: none;
    margin: 5px
}

.butt:hover{
    cursor: pointer;
    color: #fefefe;
    border: 3px solid #fefefe;
    background: #191919;
    box-shadow: 0px 4px 8px #a0948a;
}