html, body{
	overflow: hidden;
	font-family: "Courier New";
}

#tema {
	font-family: "Courier New";
	color: white;
	text-align: center;
	font-size: 56px;
	text-shadow: 0px 2px 10px #a0948a;
}


#list>li {
	list-style-type: none;
	font-family: "Courier New";
	text-align: center;
	color: #191919;
	width: 50%;
	border-style: solid;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom : 23px;
	border-color: white;
	box-shadow: 0px 0px 20px #a0948a;	
	border-radius: 5px;
}

#list>li:hover {
	cursor: pointer;
	border-color: #a0948a;
	background-color: white;
	box-shadow: 0px 0px 20px #a0948a;	
}

.list_on {
	cursor: pointer;
	border-color: #a0948a;
	background-color: white;
	box-shadow: 0px 0px 20px #a0948a;	
}

#silang1, #silang2, #silang3 {
	margin-top: 10px;
	width: 170px;
	height: 170px;
	margin-left: 60px;
}

#silang1, #silang2, #silang3:hover {
	cursor: pointer;
}

.silang_on{
	filter: drop-shadow(5px 5px 5px #ff5252);
}

#quesmark{
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 43px;
	position: absolute;
}

#quesmark:hover{
	cursor: pointer;
	filter: drop-shadow(0px 0px 5px #618eff);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
  -webkit-animation-name: animateopen;
  -webkit-animation-duration: 0.4s;
  animation-name: animateopen;
  animation-duration: 0.4s;
}

#help{
  -webkit-column-count: 2; /* Old Chrome, Safari and Opera */
  -moz-column-count: 2; /* Old Firefox */
  column-count: 2;
}

#help>li{
	padding: 3px;
	list-style-type: none;
}

/* Add Animation */
@-webkit-keyframes animateopen {
  from {top:0; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animateopen {
  from {top:0; opacity:0}
  to {top:0; opacity:1}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: red;
}