.blueGoo{
    color: rgb(43, 92, 255);
}
.potion_health{
    color: rgb(255, 0, 64);
}
.potion_mana{
    color: rgb(30, 71, 255);
}
.twig{
    color: rgb(122, 68, 23);
}
.sword{
    color: rgb(155, 155, 155);
}
.shield{
    color: rgb(100, 100, 100);
}