@font-face {
  font-family: 'letsjazz';
  src: url('../fonts/letsjazz.otf');
}
@font-face {
  font-family: 'munro';
  src: url('../fonts/munro.otf');
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'munro';
}

body {
  overflow: hidden;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #E4A891;
}

#text{
  margin: 10px 15px;
  transition: .2s;
}

.wrapper{
  width: 800px;
  max-width: 80%;
}

.container {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 5px solid rgb(27, 27, 27);
  box-shadow: 0 0 10px 0px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  font-size: 20px;
  background-color: hsl(204, 46%, 41%);
  border: 5px solid hsl(204, 46%, 24%);
  margin: 0px 10px 10px 10px;
  padding: 5px 5px;
  color: white;
  outline: none;
  transition: .2s;
}

.btn:hover {
  cursor: pointer;
  border-color: hsl(204, 60%, 51%);

}

#mute{
  outline: none;
  position: fixed;
  background-image: url('unmute.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  bottom: 12px;
  right: 12px;
  transition: .2s;
}

.inv-container {
  position: absolute;
  top: 0;
  width: 90%;
  padding: 8px;
  background-color: white;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.inv-btn-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.inv-btn {
  color: white;
  font-size: 15px;
  background-color: hsl(81, 46%, 41%);
  border: 5px solid hsl(88, 46%, 24%);
  padding: 5px;
  margin: 1px 5px 1px 5px;
  box-shadow: 0 0 5px 0px #000;
  outline: none;
  transition: .2s;
}

.inv-btn:hover {
  cursor: pointer;
  border-color: hsl(83, 57%, 43%);
}

.menu-btn{
  background-color: rgb(189, 123, 36);
  border: 5px solid rgb(102, 68, 24);
}

.menu-btn:hover{
  border: 5px solid rgb(194, 128, 42);
}

.modal{
  z-index: 10;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  transform: scale(1);
  transition: .3s;
  opacity: 1;
}

.modal-content{
  height: 85%;
  width: 55%;
  background-color: white;
  border: 5px solid rgb(0, 0, 0);
}

.close-btn{
  margin: 10px;
  padding: 5px;
  background-color: rgb(189, 123, 36);
  border: 5px solid rgb(102, 68, 24);
}

.close-btn:hover {
  cursor: pointer;
  border: 5px solid rgb(194, 128, 42);
}

.modal-hidden{
  opacity: 0;
  transform: scale(0);
  transition: .3s;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: visible;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 1;
	background: rgba(0, 0, 0, 0.548);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
}